.scroll {
  height: 100%;
}

.text-large {
  font-size: 72px;
}

.text-no-margin {
  margin: 0;
}

.center {
	text-align: center;
}

.scorecard-row {
  white-space: nowrap;
}

.scorecard-col {
  min-width: 25px;
  display: inline-block;
}
