<ion-pane>
  <ion-header-bar class="bar-stable" style="background-color: black;">
    <h1 class="title" style="font-family: Gibson Semibold;"><span style="color: azure;">Blue</span><span style="color: white;">Ball</span></h1>
  </ion-header-bar>
  <ion-content>

<div style="background:white; height: 100%;">
    <div style="height:27px;  background-color:white;color:#555555;">

        <h4 ng-click="currentPage = 0" style="margin-top:4px; margin-bottom:5px; text-align:center; width:50%; float:left;" >HOME</h4>
        <h4 ng-click="currentPage = 1" style="margin-top:4px; margin-bottom:5px; float:right;text-align:center; width:50%; right:0;" >LEADERBOARD</h4>
        <hr id="slidingBar" style=" background: #ef3829; opacity: 1;width: 50%;height: 4px;position: absolute;top: 17px; left:{{-slidingBar/2}}%;border-top:0px solid white !important">
        
    </div>

    
    <ul rn-carousel rn-carousel-index="currentPage" rn-carousel-buffered style="height:calc(100% - 27px); width:100%; background-color:white; margin-bottom:0">
        <li id="1"> 
          <div style="height:100%" data-ng-include="'views/home.html'" ng-controller="HomeCtrl"></div>
        </li>

        <li id="2">
            <div style="height:100%" data-ng-include="'views/leaderboard.html'" ng-controller="LeaderboardCtrl"></div>
        </li>

    </ul>
    
</div>

  </ion-content>
</ion-pane>
