        <div class="list">
          <div class="item text-center">
            <p class="text-feature">SCORE</p>
            <h1 class="text-no-margin">{{ score }}</h1>
          </div>
          <div class="scorecard">
            <div class="row">
              <div class="col col-20">
                <div>Hole</div>
                <div>Par</div>
                <div>Score</div>
              </div>
              <div class="col col-80" style="overflow-x:scroll">
                <ion-scroll direction="x">
                  <div class="scorecard-row">
                    <div class="scorecard-col center" ng-repeat="hole in holes">
                      <div>{{ hole.hole }}</div>
                      <div>{{ hole.par || '-' }}</div>
                      <div>{{ hole.score || '-' }}</div>
                    </div>
                    <div class="scorecard-col center">
                      <div>In</div>
                      <div>36</div>
                      <div>-</div>
                    </div>
                    <div class="scorecard-col center">
                      <div>Out</div>
                      <div>36</div>
                      <div>-</div>
                    </div>
                    <div class="scorecard-col center">
                      <div>Total</div>
                      <div>72</div>
                      <div>-</div>
                    </div>
                  </div>
                </ion-scroll>
              </div>
            </div>
            <div class="item text-center">
              <p class="text-feature">STATS</p>
              <div class="row">
                <div class="col">
                  <p class="text-feature">BIRDIES</p>
                </div>
                <div class="col">
                  <p class="text-feature">EAGLES</p>
                </div>
                <div class="col">
                  <p class="text-feature">PARS</p>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p>DISTANCE</p>
                </div>
              </div>
            </div>
          </div>
        </div>